<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bitedu.dao.BalanceMapper" >





   <select id="transactionBalanceU2C" statementType="CALLABLE" parameterType="java.util.Map" resultType="java.lang.Integer">
     call transaction_balance_u2c(
     #{userId,jdbcType=VARCHAR,mode=IN},
     #{companyId,jdbcType=VARCHAR,mode=IN},
     #{userDecBalance,jdbcType=DOUBLE,mode=IN},
     #{companyAddBalance,jdbcType=DOUBLE,mode=IN}
     )
	</select>

</mapper>