<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bitedu.dao.QualificationApplyMapper" >
  <resultMap id="BaseResultMap" type="com.bitedu.pojo.QualificationApply" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="admin_email" property="adminEmail" jdbcType="VARCHAR" />
    <result column="company_email" property="companyEmail" jdbcType="VARCHAR" />
    <result column="apply_info" property="applyInfo" jdbcType="VARCHAR" />
    <result column="auditState" property="auditstate" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, admin_email, company_email, apply_info, auditState, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from qualification_apply
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from qualification_apply
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bitedu.pojo.QualificationApply" >
    insert into qualification_apply (id, title, admin_email, 
      company_email, apply_info, auditState, 
      create_time, update_time)
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{adminEmail,jdbcType=VARCHAR}, 
      #{companyEmail,jdbcType=VARCHAR}, #{applyInfo,jdbcType=VARCHAR}, #{auditstate,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bitedu.pojo.QualificationApply" >
    insert into qualification_apply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="adminEmail != null" >
        admin_email,
      </if>
      <if test="companyEmail != null" >
        company_email,
      </if>
      <if test="applyInfo != null" >
        apply_info,
      </if>
      <if test="auditstate != null" >
        auditState,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="adminEmail != null" >
        #{adminEmail,jdbcType=VARCHAR},
      </if>
      <if test="companyEmail != null" >
        #{companyEmail,jdbcType=VARCHAR},
      </if>
      <if test="applyInfo != null" >
        #{applyInfo,jdbcType=VARCHAR},
      </if>
      <if test="auditstate != null" >
        #{auditstate,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bitedu.pojo.QualificationApply" >
    update qualification_apply
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="adminEmail != null" >
        admin_email = #{adminEmail,jdbcType=VARCHAR},
      </if>
      <if test="companyEmail != null" >
        company_email = #{companyEmail,jdbcType=VARCHAR},
      </if>
      <if test="applyInfo != null" >
        apply_info = #{applyInfo,jdbcType=VARCHAR},
      </if>
      <if test="auditstate != null" >
        auditState = #{auditstate,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bitedu.pojo.QualificationApply" >
    update qualification_apply
    set title = #{title,jdbcType=VARCHAR},
      admin_email = #{adminEmail,jdbcType=VARCHAR},
      company_email = #{companyEmail,jdbcType=VARCHAR},
      apply_info = #{applyInfo,jdbcType=VARCHAR},
      auditState = #{auditstate,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>